/* screen - pageu40liedeu41-image1 */

.pageu40liedeu41-image1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1512px;
}

.pageu40liedeu41-image1 .overlap-group1 {
  height: 982px;
  position: relative;
  width: 635px;
}

.pageu40liedeu41-image1 .x1543996232php-p1-bznqjpeg-1 {
  height: 982px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 601px;
}

.pageu40liedeu41-image1 .rectangle-2 {
  height: 982px;
  left: 39px;
  position: absolute;
  top: 0;
  width: 596px;
}

.pageu40liedeu41-image1 .view-detail {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  left: 106px;
  position: absolute;
  top: 574px;
}

.pageu40liedeu41-image1 .view-detail-1 {
  display: flex;
  height: 75px;
  width: 298px;
}

.pageu40liedeu41-image1 .text-17 {
  height: 45px;
  margin-top: -1.00px;
  position: relative;
  width: 27px;
}

.pageu40liedeu41-image1 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  min-height: 845px;
  width: 829px;
}

.pageu40liedeu41-image1 .lie-de {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-right: 10px;
  margin-top: 72px;
  min-height: 147px;
  width: 769px;
}

.pageu40liedeu41-image1 .images {
  align-items: center;
  display: inline-flex;
  gap: 340px;
  justify-content: center;
  margin-left: 4px;
  position: relative;
}

.pageu40liedeu41-image1 .text-18 {
  left: 20px;
  position: absolute;
  text-align: center;
  top: -1px;
}

.pageu40liedeu41-image1 .overlap-group2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--sanguine-brown);
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 12px;
  margin-top: 23px;
  min-height: 540px;
  padding: 3px 0;
  width: 761px;
}

.pageu40liedeu41-image1 .group-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 12px;
  height: 30px;
  margin-left: 33px;
  margin-top: 14px;
  min-width: 320px;
}

.pageu40liedeu41-image1 .before-demolition-2007 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 30px;
  min-width: 290px;
  white-space: nowrap;
}

.pageu40liedeu41-image1 .vector-1 {
  height: 8px;
  margin-top: 1.0px;
  width: 16px;
}

/* .pageu40liedeu41-image1 .frame-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 31px 25px;
  height: 478px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  width: 699px;
} */

.pageu40liedeu41-image1 .frame-1 {
  gap: 31px 25px;
  width: 699px;
  height:478px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  align-items: flex-start;
  align-self: center;
}

.pageu40liedeu41-image1 .rectangle-1{
  position: relative;
  width: 668px;
  height: 380px;
  margin: 11px;
  object-fit: cover;
}


.pageu40liedeu41-image1 .line-4 {
  height: 2px;
  margin-top: 59px;
  width: 829px;
}

.pageu40liedeu41-image1 .text {
  letter-spacing: 0;
  line-height: normal;
}

.pageu40liedeu41-image1 .view-detail-2:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 2px solid #681008;

}

.pageu40liedeu41-image1 .plus:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 2px solid #681008;
}

